.button2 {
    display: flex;
    justify-content: space-between;
}

.cardcolor {
    background-color: rgb(225, 117, 184);
}

.backcolor {
    background-color: #82fbff82;
}

input {
    border-radius: 7px;
    border: 3px inset rgb(0, 0, 100);
}

ul {
    list-style: none;
}